<div class="theme-showcase" role="main">

  <div class="left-pic">
    <img src="https://www.lankaeshop.com/shop/images/online-electronics-4152.jpg" width="638" height="479">
  </div>

  <div class="right-info">
    <h1>Welcome to the Sales Manager!</h1>
    <div class="center">
      <%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>