<p><strong>Name:</strong> <%= @item.name %></p>
<p><strong>Description:</strong> <%= @item.name %></p>
<p><strong>Price:</strong> <%= number_to_currency(@item.price) %></p>
<p><strong>Catagory:</strong> <%= @item.catagory %></p>